.terraform.lock.hcl
.terraform
*.tfstate
*.tfstate.backup
.terraformrc
terraform.rc
terraform/terraform.tfvars
terraform/terraform.tfvars.bak
terraform/tfplan
deployment-config.txt
deployment-info.txt